body {
    height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;
    max-width: 100vw;
    overflow-x: hidden;
    --foreground: gray;
}

body > div {
    height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;
    max-width: 100vw;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}

button, input, textarea, select {
    background: none;
    border-width: 0;
    outline-width: 0;
    font: unset;
    color: unset;
}

input.sameThemeText, textarea.sameThemeText {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-radius: 0;
}

input.sameThemeText:focus, textarea.sameThemeText:focus {
    border-radius: 0;
}

input:focus textarea:focus {
    outline: inherit;
}

.toggle-button {
    display: flex;
    align-items: center;
}

.toggle-button > span {
    flex-grow: 1;
    flex-shrink: 1;
}

.spinner {
    width: 32px !important;
    height: 32px !important;
    opacity: 0.5 !important;
    background: none !important;
    box-shadow: none !important;
    border-style: solid !important;
    border-color: var(--foreground) var(--foreground) var(--foreground) transparent !important;
    border-width: 5px !important;
    border-radius: 50% !important;
    animation: spin 2s infinite linear !important;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.rock-swap {
    position: relative;
}
.rock-swap > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.rock-stack {
    display: grid !important;
    grid-template-columns: auto;
    z-index: 0;
}

.rock-stack > * {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    z-index: 1;
}

.rock-stack > .hStart {
    justify-self: start;
}

.rock-stack > .hCenter {
    justify-self: center;
}

.rock-stack > .hStretch {
    justify-self: stretch;
}

.rock-stack > .hEnd {
    justify-self: end;
}

.rock-stack > .vStart {
    align-self: start;
}

.rock-stack > .vCenter {
    align-self: center;
}

.rock-stack > .vStretch {
    align-self: stretch;
}

.rock-stack > .vEnd {
    align-self: end;
}

.rock-row {
    display: flex;
    flex-direction: row;
}

.rock-row > .vStart {
    align-self: start;
}

.rock-row > .vCenter {
    align-self: center;
}

.rock-row > .vStretch {
    align-self: stretch;
}

.rock-row > .vEnd {
    align-self: end;
}

.rock-col {
    display: flex;
    flex-direction: column;
}

.rock-col > .hStart {
    align-self: start;
}

.rock-col > .hCenter {
    align-self: center;
}

.rock-col > .hStretch {
    align-self: stretch;
}

.rock-col > .hEnd {
    align-self: end;
}

.clickable {
    cursor: pointer;
}

.switch {
    position: relative;
    height: 1.5rem;
    width: 3rem;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 9999px !important;
    background-color: rgba(100, 116, 139, 0.377);
    transition: all .3s ease;
}

.switch:checked {
    background-color: rgba(236, 72, 153, 1);
}

.switch::before {
    position: absolute;
    content: "";
    left: calc(1.5rem - 1.6rem);
    top: calc(1.5rem - 1.6rem);
    display: block;
    height: 1.6rem;
    width: 1.6rem;
    cursor: pointer;
    border: 1px solid rgba(100, 116, 139, 0.527);
    border-radius: 9999px !important;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 3px 10px rgba(100, 116, 139, 0.327);
    transition: all .3s ease;
}

.switch:hover::before {
    box-shadow: 0 0 0px 8px rgba(0, 0, 0, .15)
}

.switch:checked:hover::before {
    box-shadow: 0 0 0px 8px rgba(236, 72, 153, .15)
}

.switch:checked:before {
    transform: translateX(100%);
    border-color: rgba(236, 72, 153, 1);
}

.crowd {
    padding: 0 !important;
}

.crowd > * {
    margin: 0 !important;
}

.rock-label {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.rock-label > :nth-child(1).inclMargin {
    font-size: 0.8rem;
    margin-bottom: 0px;
}
.rock-label > :nth-child(2).inclMargin {
    margin-top: 0.25rem;
}

* {
    scrollbar-color: #999 #0000;
    scrollbar-width: thin;
    scrollbar-gutter: auto;
    flex-shrink: 0;
}

::placeholder {
    color: var(--foreground);
    opacity: 0.3;
}

.rock-separator {
    background-color: var(--foreground);
    opacity: 0.25;
    min-width: 1px;
    min-height: 1px;
}

/*::-webkit-scrollbar {*/
/*    width: 8px;*/
/*}*/

/*::-webkit-scrollbar-thumb:vertical {*/
/*    margin: 5px;*/
/*    background-color: #999;*/
/*    -webkit-border-radius: 5px;*/
/*}*/

/*::-webkit-scrollbar-thumb:horizontal {*/
/*    margin: 5px;*/
/*    background-color: #999;*/
/*    -webkit-border-radius: 5px;*/
/*}*/

/*::-webkit-scrollbar-button:start:decrement,*/
/*::-webkit-scrollbar-button:end:increment {*/
/*    height: 5px;*/
/*    display: block;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    visibility: hidden;*/
/*}*/

/*:hover::-webkit-scrollbar-thumb {*/
/*    visibility: visible;*/
/*}*/
