
        @keyframes rock-activity-indicator {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }

        .rock-mui-text-field {
          position: relative;
          --text-field-color: indigo;
        }

        .rock-mui-text-field input::placeholder {
          opacity: 0;
        }

        .rock-mui-text-field input {
          width: 100%;
          height: 60px;
          font-size: 1.2rem;
          padding: 10px 16px 10px 16px;
          outline: none;
          border: 1px solid gray;
          box-sizing: border-box;
          border-radius: 5px;
        }

        .rock-mui-text-field input:invalid {
          border: 1px solid red;
        }

        .rock-mui-text-field label {
          position: absolute;
          left: 16px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 1.2rem;
          color: gray;
          letter-spacing: 1px;
          transition: .3s;
          font-weight: 600;
        }

        .rock-mui-text-field input:focus + label,
        .rock-mui-text-field input:not(:placeholder-shown) + label
        {
          top: 2px;
          font-size: .8rem;
          background: #fff;
          padding: 7px;
        }

        .rock-mui-text-field input:focus + label
        {
          color: var(--text-field-color);
        }

        .rock-mui-text-field input:focus {
          border: 2px solid var(--text-field-color);
        }

.rock-mui-button {
  transition: background 200ms, box-shadow 200ms;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: transparent;
  padding: calc(12px * var(--rock-mui-button-size)) calc(20px * var(--rock-mui-button-size));
  font-size: calc(18px * var(--rock-mui-button-size));

  --rock-mui-button: black;
  --rock-mui-button-hover: black;
  --rock-mui-button-focus: black;
  --rock-mui-button-size: 1;
}

.rock-mui-button-contained {
  color: #fff;
  background-color: rgb(var(--rock-mui-button));
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
}

.rock-mui-button-contained:hover {
    background-color: rgb(var(--rock-mui-button-hover));
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.4);
}

.rock-mui-button-contained:focus {
    background-color: rgb(var(--rock-mui-button-focus));
}

.rock-mui-button-outlined {
  color: rgb(var(--rock-mui-button));
  border: 1px solid rgb(var(--rock-mui-button));
}

.rock-mui-button-outlined:hover {
  border: 1px solid rgb(var(--rock-mui-button-hover));
}

.rock-mui-button-outlined:focus {
    background-color: rgba(var(--rock-mui-button-focus), 0.15);
  border: 1px solid rgb(var(--rock-mui-button-focus));
}

.rock-mui-button-text span {
  color: rgb(var(--rock-mui-button));
}

.rock-mui-button-text:focus {
    background-color: rgba(var(--rock-mui-button-focus), 0.15);
}
