
        @keyframes rock-activity-indicator {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }

        .rock-mui-text-field {
          position: relative;
          --text-field-color: indigo;
        }

        .rock-mui-text-field input::placeholder {
          opacity: 0;
        }

        .rock-mui-text-field input {
          width: 100%;
          height: 60px;
          font-size: 1.2rem;
          padding: 10px 16px 10px 16px;
          outline: none;
          border: 1px solid gray;
          box-sizing: border-box;
          border-radius: 5px;
        }

        .rock-mui-text-field input:invalid {
          border: 1px solid red;
        }

        .rock-mui-text-field label {
          position: absolute;
          left: 16px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 1.2rem;
          color: gray;
          letter-spacing: 1px;
          transition: .3s;
          font-weight: 600;
        }

        .rock-mui-text-field input:focus + label,
        .rock-mui-text-field input:not(:placeholder-shown) + label
        {
          top: 2px;
          font-size: .8rem;
          background: #fff;
          padding: 7px;
        }

        .rock-mui-text-field input:focus + label
        {
          color: var(--text-field-color);
        }

        .rock-mui-text-field input:focus {
          border: 2px solid var(--text-field-color);
        }

.rock-mui-button {
  transition: background 200ms, box-shadow 200ms;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: transparent;
  padding: calc(12px * var(--rock-mui-button-size)) calc(20px * var(--rock-mui-button-size));
  font-size: calc(18px * var(--rock-mui-button-size));

  --rock-mui-button: black;
  --rock-mui-button-hover: black;
  --rock-mui-button-focus: black;
  --rock-mui-button-size: 1;
}

.rock-mui-button-contained {
  color: #fff;
  background-color: rgb(var(--rock-mui-button));
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
}

.rock-mui-button-contained:hover {
    background-color: rgb(var(--rock-mui-button-hover));
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.4);
}

.rock-mui-button-contained:focus {
    background-color: rgb(var(--rock-mui-button-focus));
}

.rock-mui-button-outlined {
  color: rgb(var(--rock-mui-button));
  border: 1px solid rgb(var(--rock-mui-button));
}

.rock-mui-button-outlined:hover {
  border: 1px solid rgb(var(--rock-mui-button-hover));
}

.rock-mui-button-outlined:focus {
    background-color: rgba(var(--rock-mui-button-focus), 0.15);
  border: 1px solid rgb(var(--rock-mui-button-focus));
}

.rock-mui-button-text span {
  color: rgb(var(--rock-mui-button));
}

.rock-mui-button-text:focus {
    background-color: rgba(var(--rock-mui-button-focus), 0.15);
}

.rock-mui-switch {
    user-select: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    position: relative;
    height: 36px;
}

.rock-mui-switch > input[type="checkbox"] {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.rock-mui-switch .rock-mui-switch-check {
    width: 48px;
    height: 16px;
    background-color: #929292;
    overflow-x: visible;
    overflow-y: visible;
    position: relative;
    border-radius: 8px;
    transition: linear all 0.2s;
}

.rock-mui-switch input[type="checkbox"]:checked ~ .rock-mui-switch-check {
    background-color: #a2a2a2;
}

.rock-mui-switch .rock-mui-switch-check::after {
    content: "";
    transition: linear all 0.2s;
    position: absolute;
    display: block;
    width: 22px;
    height: 22px;
    z-index: 2;
    margin-top: -3px;
    margin-left: -3px;
    border-radius: 50%;
    background-color: #555;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.rock-mui-switch input:checked ~ .rock-mui-switch-check::after {
    background-color: #00aba9;
    transform: translateX(30px);
}
